input[name="fact"]{
    display:none
}
.content{
    display: flex;

}
.content-buttons{
    width: 340px;
    padding: 20px;
}

.button{
    display: block;
    font-size: 20px;
    color: #fff;
    background: linear-gradient(90deg, rgba(117,141,159,1) 0%, rgba(98,96,137,1) 100%);
    line-height: 34px;
    width: 240px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: font-size 150ms linear;  
    padding: 5px 15px;
    margin-bottom: 15px;
    border-radius: 22px; 
    position: relative; 
}

.button:after{
    content: '>';
    display: inline-block;
    border: 1px solid #fff;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    right: 5px;
    opacity: 0.2;
}

.button:hover{  
    font-size:22px;
    background: linear-gradient(90deg, rgba(77,132,171,1) 0%, rgba(76,73,142,1) 100%);
}

.button:hover:after{
    opacity: 1;
}

#f1:checked ~ .content .content-buttons .btn_1,
#f2:checked ~ .content .content-buttons .btn_2,
#f3:checked ~ .content .content-buttons .btn_3,
#f4:checked ~ .content .content-buttons .btn_4,
#f5:checked ~ .content .content-buttons .btn_5,
#f6:checked ~ .content .content-buttons .btn_6,
#f7:checked ~ .content .content-buttons .btn_7,
#f8:checked ~ .content .content-buttons .btn_8,
#f9:checked ~ .content .content-buttons .btn_9
{
    font-size:22px;
    background: linear-gradient(90deg, rgba(24,121,191,1) 0%, rgba(51,47,148,1) 100%);
}
#f1:checked ~ .content .content-buttons .btn_1:after,
#f2:checked ~ .content .content-buttons .btn_2:after,
#f3:checked ~ .content .content-buttons .btn_3:after,
#f4:checked ~ .content .content-buttons .btn_4:after,
#f5:checked ~ .content .content-buttons .btn_5:after,
#f6:checked ~ .content .content-buttons .btn_6:after,
#f7:checked ~ .content .content-buttons .btn_7:after,
#f8:checked ~ .content .content-buttons .btn_8:after,
#f9:checked ~ .content .content-buttons .btn_9:after

{
opacity: 1;
}

.fact{
    display: none;
}
#f1:checked ~ .content .content-facts .fact1,
#f2:checked ~ .content .content-facts .fact2,
#f3:checked ~ .content .content-facts .fact3,
#f4:checked ~ .content .content-facts .fact4,
#f5:checked ~ .content .content-facts .fact5,
#f6:checked ~ .content .content-facts .fact6,
#f7:checked ~ .content .content-facts .fact7,
#f8:checked ~ .content .content-facts .fact8,
#f9:checked ~ .content .content-facts .fact9{
    display: block;
}