header{
    text-align: center;
    background-color: blueviolet;
    color: white;
    font-size: 20px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    background-color: bisque;
}

.fact{
    font-size: 25px;
    margin-top: 10px;
}


.answers-button{
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: rgb(118,118,118);
    font-family: Arial;
    user-select: none;
}
.answers-button:active{
    border-style: inset;   
}

#test{
    display: none;
}
#answers_visible{
    display: none;
}
#answers_visible:checked + .answers-button{
    border-style: inset;
    background-color: rgb(80, 80, 255)
}
#answers_visible:checked ~ #test{
    display: block
}